*.py[co]
*~
# venv
venv
.env

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
celerybeat-schedule


*.sqlite3
celery.db

core/templates/footer.html
client_credentials.json
client_secrets.json
staticfiles
.DS_Store
