{% extends "base.html" %}
{% block title %}Bedenk een nieuw wachtwoord{% endblock %}

{% block primary %}
    {% if validlink %}
        <p>Je moet het wachtwoord twee keer invullen.<br />
           Zo weten we zeker dat je het goed getyped hebt.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            {{form.as_p}}
            <input type="submit" value="Verander mijn wachtwoord" />
        </form>
    {% else %}
        <h1>Wachtwoord reset onsuccesvol</h1>
        <p>De wachtwoord reset link is niet correct, <br />
        wellicht is het al eerder gebruikt. <br />
        Probeer het nog een keer opnieuw.</p>
    {% endif %}
{% endblock %}
