{% extends "base.html" %}

{% block pagetitle %}Huisrekening{% endblock %}

{% block title %}Huisrekening{% endblock %}

{% block primary %}
<p>
{% if balance.previous.pk %}
    <a href="{% url balance balance.previous.pk %}">&lt;- Vorige</a> 
{% else %}
    &lt;- Vorige
{% endif %}
 - <a href="{% url balance %}">Huidige</a> - 
{% if balance.next.pk %}
    <a href="{% url balance balance.next.pk %}">Volgende -&gt;</a>
{% else %}
    Volgende -&gt;
{% endif %}
</p>
{% if balance.preview %}
    <p>
        <em>Dit is een voorlopige afrekening</em><br />
        {% if perms.balance.add_balance and balance.preview %}
            Klik <a href="{% url make_balance %}" >hier</a> om deze afrekening definitief te maken
        {% endif %}
    </p>
{% endif %}
<table>
<caption>
    Afrekening voor de periode
    {% if balance.previous.pk %}
        {{balance.previous.created|date:"DATE_FORMAT"}}
    {% else %}
        Het begin der tijden
    {% endif %}
     tot 
    {% if balance.next %}
        {{balance.created|date:"DATE_FORMAT"}}
    {% else %}
        Vandaag
    {% endif %}
</caption>
<thead>
    <tr>
        <th>Naam</th><th>Vorig saldo</th><th>Betaald</th><th>Uitgegeven</th><th>EtageBijdr.</th><th>Eetlijst</th><th>Bierlijst</th><th>Nieuw saldo</th>
    </tr>
</thead>
<tbody>
    {% if balance.rows.all %}
        {% for row in balance.rows.all %}
            <tr>
                <td>{{row.user}}</td>
                <td>{{row.last_balance}}</td>
                <td>{{row.payed}}</td>
                <td>{{row.expenses}}</td>
                <td>{{row.monthly_fee}}</td>
                <td>{{row.dinners}}</td>
                <td>{{row.drinks}}</td>
                <td>&euro; {{row.total}}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr><td class="empty_table" colspan=8>Geen gebruikers.</td></tr>
    {% endif %}
</tbody>
</table>

<p>
    Een positief saldo betekent dat je het huis moet betalen, een negatief saldo betekent dat je nog geld van de huisrekening krijgt.
</p>
<p>
    Graag bedragen vanaf €25,- overmaken op onderstaand rekeningnummer.
</p>
{% endblock %}
