{% extends "base.html" %}

{% load render_table from django_tables2 %}

{% block pagetitle %}Huisgenoten{% endblock %}

{% block title %}Huisgenoten{% endblock %}

{% block primary %}
{% render_table table %}
<p class="muted"><i class="icon-star"></i> Huisoudste</p>

<ul class="inline">
    <li><a href="{% url 'edit' %}">Pas je gegevens aan</a></li>
    <li><a href="mailto:
    	{% for user in users %}
    		{% if user.email %}
    			{{user.first_name}} {{user.last_name}} <{{user.email}}>;
    		{% endif %}
    	{% endfor %}
    ">Email alle huisgenoten</a></li>
    <li><a href="{% url 'old' %}">Oudhuisgenoten</a></li>
    {% if perms.schedule.add_user %}
        <li><a href="{% url 'move' %}">Voeg een nieuwe huisgenoot toe</a></li>
    {% endif %}
    {% if user.is_elder or user.is_superuser%}
        <li><a href="{% url 'abdicate' %}">Maak iemand anders huisoudste</a></li>
    {% endif %}
</ul>


{% endblock %}
