{% extends "base.html" %}

{% block pagetitle %}Reset wachtwoord{% endblock %}

{% block title %}Reset wachtwoord{% endblock %}

{% block primary %}
<p>Vul hier je e-mailadres in, we sturen je dan een mailtje met instructies.</p>

<form action="" method="post" class="form-inline">
    {% csrf_token %}
    <div class="control-group {% if form.email.errors %}error{% endif %}">
        <label for="id_email">E-mail:</label>
        <div class="input-append">
        	{{ form.email }}
        	<button type="submit" class="btn btn-primary">Reset password</button>
        </div>
        <div class="help-block">{{ form.email.errors }}</div>
    </div>
</form>
{% endblock %}
