{% extends "base.html" %}

{% block title %}Reset wachtwoord{% endblock %}

{% block primary %}
<p>Vul hier je e-mailadres in, we sturen je dan een mailtje met instructies.</p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p>
    	<label for="id_email">E-mail:</label> {{ form.email }}
    	<input type="submit" value="Reset password" />
    </p>
</form>
{% endblock %}
