{% extends "print_base.html" %}

{% load markup %}
{% load current_user %}


{% block pagetitle %}Schoonmaak rooster{% endblock %}

{% block title %}Schoonmaak rooster{% endblock %}

{% block primary %}
<table>
<thead>
	<tr>
		<th>Week</th>
		{% for task in tasks %}
			<th>{{task.name}}</th>
		{% endfor %}
	</tr>
</thead>
<tbody>
	{% for week in data %}
		<tr class="{{week.type}}">
			<td>{{week.startdate|date:"SHORT_DATE_FORMAT" }}</td>

			{% for shift in week.shifts.all %}
				<td>{{shift.room|current_user:week.startdate}}</td>
			{% endfor %}
		</tr>
	{% endfor %}
</tbody>
</table>

<dl>
	{% regroup tasks by description as description_list %}
	{% for description in description_list %}
		{% if description.grouper %}
			<dt>{{description.list.0.name}}</dt>
			<dd>{{description.grouper|markdown}}</dd>
		{% endif %}
	{% endfor %}
</dl>

{% endblock %}
