{% extends "base.html" %}

{% load markup %}

{% block pagetitle %}Schoonmaak rooster{% endblock %}

{% block title %}Schoonmaak rooster{% endblock %}

{% block primary %}
<table>
<thead>
	<tr>
		<th>Week</th>
		{% for task in tasks %}
			<th>{{task.name}}</th>
		{% endfor %}
	</tr>
</thead>
<tbody>
	{% for week in data %}
		<tr class="{{week.type}} {% if week.type != 'past_week' %}switchable{% endif %}">
			<td>{{week.startdate|date:"SHORT_DATE_FORMAT" }}</td>

			{% for shift in week.shifts.all %}
				<td>
					<span id="shift{{shift.pk}}">{{shift.room}}</span>
					{% if week.type != 'future_week' %}
						<input type="checkbox" name="shift_done" value="{{shift.pk}}" 
							{% if shift.done %}checked="checked"{% endif %} 
							{% if week.type == 'past_week' %}disabled="disabled"{% endif %}>
					{% endif %}
				</td>
			{% endfor %}
		</tr>
	{% endfor %}
</tbody>
</table>

<p><a href="{% url 'schedule.views.print_schedule' %}">Print dit rooster.</a> <a href="{% url 'ical_schedule' user.pk %}">Importeer dit in een kalenderdapplicatie.</a></p>

{% for task in tasks %}
	{% if task.description %}
		<div>
			<h4>{{task.name}}</h4>
			<p>{{task.description|markdown}}</p>
		</div>
	{% endif %}
{% endfor %}

<p>
	<b>Zet op deze lijst een kruisje achter je naam zodra je je beurt hebt gedaan, zodat iedereen kan zien hoe goed je bezig bent!</b>
</p>

<div id="switch_dialog" title="Let op!">Weet je zeker dat je wilt wisselen met <span id="replace_name">naam</span></div>

{% endblock %}
