aside {
	position: absolute;
	left: 20px;
	top: 20px;
}

#primary {
	margin: 20px auto;
	width: 750px;
	box-shadow: 5px 5px 5px grey;
	background: url('/static//img/paper.jpg');
	padding: 3em;
}

#login {
	width: 700px;
	margin: 20px auto;
	text-align: right;
}

footer {
	margin: 30px auto;
	width: 700px;
}

body {
	background: url('/static/img/wood.jpg');
}

th {
	border: solid rgba(0,0,0,0.2) 1px;
	background: rgba(200,200,100,0.2);
	opacity: 50%;
	padding: 1px 5px;
	color: #0088CC;
}

.checkbox_spacer {
	display: inline-block;
	width: 10px;
	height: 1em;
}

.past_week {
	color: darkgrey;
}

.future_week span {
	width: 100%;
	height: 100%;
	display: block;
	margin: 0;
}

.current_week 
{
	line-height: 3em;
	font-size: 1.2em;
	font-weight: bold;
	position: relative;
	float: right;
	left: -25px;
	margin: -1px -500px -1px 0px;
	box-shadow: 5px 5px 5px grey;
}

.current_week td {
	display: table-cell;
	border: 2px solid rgba(0,0,0,0.5);
	width: 110px;

}

td {
	padding: 1px 5px;
	text-align: right;
	border: solid rgba(0,0,0,0.2) 1px;
	width: 100px;
}

.list_form textarea, .list_form select[multiple=multiple] {
	height: 3em;
	width: 200px;
}

.list_form input[type=text], .list_form select {
	width: 100px;
}

.list_form tfoot {
	padding: 1em;
	vertical-align: center;
	border: dashed rgba(0,0,0,0.2) 2px;
}

.list_form tfoot td {
	border: dashed rgba(0,0,0,0.2) 2px;

}
